
.DS_Store

gatelevel/gatelevel_qiskit/.ipynb_checkpoints/

phys/.ipynb_checkpoints/

*.pyc

.idea/

gatelevel/gatelevel_qiskit/examples/.ipynb_checkpoints/

.ipynb_checkpoints/

phys/data/

phys/qecsim/data/

*.svg
